<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Bienvenue sur planète tshirt | connexion</title>
    <link rel="stylesheet" href="/css/index.css" />
    <link
      rel="stylesheet"
      href="https://drive.google.com/file/d/1J_JxwxW52ldZLVlZ-35Tv2bNqLRsKWHP/view?usp=sharing"
    />
  </head>
  <body>
    <header id="header">
      <img src="/images/logo_transparent.png" alt="" />
      
      <nav class="navbar"> 
        <h1 id="headerTitre">Planète T-shirt</h1>

        <label for="btn" class="icon">
          <svg viewBox="0 0 100 80" width="40" height="40" >
            <rect width="100" height="15" stroke="#00adb5" fill="#00adb5"></rect>
            <rect y="35" width="100" height="15" stroke="#00adb5" fill="#00adb5"></rect>
            <rect y="70" width="100" height="15" stroke="#00adb5" fill="#00adb5"></rect>
          </svg>
        </label>
        <input type="checkbox" id="btn">

        <ul class="nav-menu">
          <li class="nav-item"><a href="/acceuil">Acceuil</a></li>
          <li class="nav-item"><a href="/catalogue">Catalogue</a></li>
          <li class="nav-item"><a href="/panier">Panier</a></li>
          <li class="nav-item"><a href="/connexion">Connexion</a></li>
          <li class="nav-item"><a href="/boutiques">boutiques</a></li>
        </ul>
      </div>
    </header>

    <main>
      <div class="connexion">
        <h1 class="text-center mt-5 mb-5">Connexion</h1>
        <h3 class="error-message"><%= login_error %></h3>
        <form class="row g-3 needs-validation" action="/login" method="POST">
          <div class="col-sm-6 col-md-4 col-xl-3 mb-4">
            <label for="exampleInputEmail1" class="form-label">E-mail</label> <br>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="email" required />
          </div>
          <div class="col-sm-6 col-md-4 col-xl-3 mb-4">
            <label for="exampleInputPassword1" class="form-label">Mot de passe</label> <br>
            <input type="password" class="form-control" id="exampleInputPassword1" name="password" required />
          </div>
          <div>            
          </div class="col-sm-6 col-md-4 col-xl-3 mb-4">
            <button type="submit" class="btn btn-primary">Connectez-vous</button>
          </div> <br>
          <div class="col-sm-6 col-md-4 col-xl-3 mb-4">
            <button class="btn btn-primary">
              <a href="/reinitialisation">Mot de passe oublié</a>
            </button>
          </div>
        </form>
      </div>
      <div class="inscripion">
        <h1 class="text-center mt-5 mb-5">Inscription</h1>
        <h3 class="error-message"><%= register_error %></h3>
        <form class="row g-3 needs-validation" action="/register" method="POST">
          <div class="col-sm-6 col-md-4 col-xl-3 mb-4">
            <label for="validationCustom01" class="form-label">Nom</label> <br>
            <input type="text" class="form-control" id="validationCustom01" name="firstName" required />
            <div class="valid-feedback"></div>
          </div>
          <div class="col-sm-6 col-md-4 col-xl-3 mb-4">
            <label for="validationCustom02" class="form-label">Prénom</label><br>
            <input type="text" class="form-control" id="validationCustom02" name="lastName" required />
            <div class="valid-feedback"></div>
          </div>
          <div class="col-sm-6 col-md-4 col-xl-3 mb-4">
            <label for="validationCustomUsername" class="form-label">email</label> <br>
            <input type="email" class="form-control" id="validationCustomUsername" aria-describedby="inputGroupPrepend" name="email" required/>
            <div class="valid-feedback"></div>
          </div>
          <div class="col-sm-6 col-md-4 col-xl-3 mb-4">
            <label for="validationCustom01" class="form-label">Telephone</label> <br>
            <input type="text" class="form-control" id="validationCustom01" name="telephone" required/>
            <div class="valid-feedback"></div>
          </div>
          <div class="col-sm-6 col-md-4 col-xl-3 mb-4">
            <label for="validationCustom01" class="form-label">Password</label> <br>
            <input type="password" class="form-control" id="validationCustom01" name="password" minlength="8" required/>
          </div>
          <div class="col-sm-6 col-md-4 col-xl-3 mb-4">
            <button class="btn btn-primary" type="submit">s'inscrire</button>
          </div> 
        </form>
        <br>
      </div>
    </main>

    <footer class="row" id="footer">           
      <a class="col-sm-6 col-md-4 col-xl-3 mb-4" href="https://planette-thirt/contact.com/">
        <img src="images/logo_contact.png" alt="contact" "/>
      </a>        
  <div class="col-sm-6 col-md-4 col-xl-3 mb-4">
    <ul class="row" id="ulFooter">
      <div class="col-sm-6 col-md-4 col-xl-3 mb-4" >
            <li  id="liInstagram">
              <a href="https://instagram.com/"
                ><img src="images/logo_instagram.png" alt=""/>
              </a>
            </li>
      </div>
      <div class="col-sm-6 col-md-4 col-xl-3 mb-4">
            <li id="liFacebook">
              <a href="https://facebook.com/"
                ><img src="images/logo_facebook.png" alt=""
              /></a>
            </li>
      </div>
      <div class="col-sm-6 col-md-4 col-xl-3 mb-4">
            <li id="liTwitter">
              <a href="https://twitter.com/"
                ><img src="images/logo_twitter.png" " alt=""
              /></a>
            </li>
      </div>
    </ul>
  </div>      
</footer>
  </body>
</html>
